#directories
.vs/
bin/
bin-int/
Intermediates/

#files
*.user
*.log

# vs files and folders
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# profiling output
Sandbox/BeetleProfile-*.json
Sandbox/results.json
results.json

glsl Sandbox/
Sandbox/assets/game/

Beetle/vendor/VulkanSDK
Stag/assets/cache
scripts/__pycache__

/lib/