#directories
.vs/
bin/
bin-int/

#files
*.user

# profiling output
Sandbox/BeetleProfile-*.json
Sandbox/results.json
results.json

glsl Sandbox/
Sandbox/assets/game/

Beetle/vendor/VulkanSDK
Stag/assets/cache
scripts/__pycache__